<!DOCTYPE html>
<html lang="en">
<head>
   {{>headLinks}}
</head>
<body>
{{>navbar}}

 <!-- Main Header -->
<div class="container-fluid main_content">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="align-items-center col-md-12 col-12 main_header_left">
                  <figure class="errimg"> 
                      <img src="images/cyborg-92.png" alt="" class="img-fluid">
                  </figure>
                
                  <h1>{{errMsg}}</h1>
                  <a href="/"><button>Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- footer  -->

{{>footer}}



</body>
</html>