<!DOCTYPE html>
<html lang="en">
<head>
   {{>headLinks}}
</head>
<body>
{{>navbar}}

 <!-- Main Header -->
<div class="container-fluid main_content">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Left Side -->
                <div class="align-items-center col-md-6 col-12 main_header_right">
                  <figure>
                      <img src="images/cherry-660.png" alt="" class="img-fluid">
                  </figure>
                </div>
                  <!-- Right Side -->
                  <div class="col-md-6 col-12 main_header_left">
                      <h1>Hi My name is Shauvik Paul, and I am a <span class="weat">Web Developer</span>.
                      <br> <br> Please Click on the link to learn about me.🤭🤭</h1>
                      <a href="https://www.linkedin.com/in/shauvik-paul-02b905160/" target="_blank" title="linkedin"><button>Check Here</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- footer  -->

{{>footer}}



</body>
</html>